useDynLib(fingers, .registration=TRUE)

# Export functions
export(avesd.Dsib, avesd.Dur,  calc.dist,  choose.rev,
       cluster.stat, cluster.stat.sub, comp.fams, cutoff,
       cutoff.llr, dist.image, fingers, freq,
       inherit, inherit2, llrdist, Msib,
       Mur, parse.hclust, parse.hclust.all, pull.markers,
       samppop, simrapd, simulfams, true.fams)

# imports
importFrom(stats, hclust, rbinom, runif, quantile, as.dist)
importFrom(graphics, plot, abline, image, par, text)
importFrom(grDevices, topo.colors)
